<h3>Sign up <%=@kid.name%> for a course:</h3>


<%=form_for :kids, url: '/parents/:parent_id/kids/:id', method: :patch do |f|%>
  <%= f.collection_select :course_id, Course.all, :id, :title%>

  <%= f.submit %>
<%end%>
