<h3>Sign <%=@kid.name.capitalize%> up for a course:</h3>
<%=form_for @kid, url: course_kid_path(@course, @kid) do |f|%>
  <%= f.collection_select :course_id, Course.all, :id, :title, {:selected => @course.id}%>
  <%= f.submit "Submit" %>
<%end%>
