<h3>Sign up <%=@kid.name%> for a course:</h3>


<%=form_for :kid, parent_kid_path(@kid), method: :patch do |f|%>
  <%= f.collection_select :course_id, Course.all, :id, :title%>

  <%= f.submit %>
<%end%>
