<h1>Kids in the School:</h1>

<%if logged_in?%>
  <% @kids.each do |k|%>
    <% if exists?(k) %>
      <p><%=capitalize(k)%>, age: <%=k.age%>, parent: <%=capitalize(k.parent)%></p>
    <%end%>
  <%end%>
  <%=render partial: 'parents/goback'%>
<%else%>
  <p>You need to be logged in to see this.</p>
<%end%>
