<h1>Kids in the School:</h1>
<% @kids.each do |k|%>
  <% if k.name.present? %>
    <p><%=k.name.capitalize%>, age: <%=k.age%>, parent: <%=k.parent.name.capitalize%></p>
  <%end%>
<%end%>


<%= link_to "Go Back", parent_path(current_user)%>
