<h1>Add Your Kid!</h1>

<%= form_for @kid do |f| %>
  <h3>Your kid's name</h3>
  <%= f.text_field :name %>
  <br>
  <h3>Your kid's age</h3>
  <%= f.text_field :age %>

  <%= f.submit 'Submit'%>

<%end%>
