<h1>Register Your Kid!</h1>
<img src="http://myfrenchclasses.org/sites/myfrenchclasses.org/files/art_class.jpg" alt="" width="300">
<h3>An app that lets you browse, select, and sign up your child for very educational and enriching art or music classes.</h3>
